<h3>Welcome to handirails</h3>
<p>A website created for communicating between handicap helpers and parents for planning on "aflastning"</p>
  <ul>
    <li>Add suggestions for appointments</li>
    <li>Approve suggestions for appointments</li>
    <li>Add details about appointments</li>
  </ul>
<p>Please start by logging in you can do so in the upper right corner</p>
